body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#apple-shelf{
    width: 500px;
    height: 100px;
    margin-bottom: 20px;
    background-color: #bfe7b7;
    border-radius: 10px;
    font-size: xx-large;
}
#mango-shelf{
    width: 500px;
    height: 100px;
    background-color: #f7ce66;
    border-radius: 10px;
    font-size: xx-large;
}